/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Navigation bar styles */
.navbar {
    background-color: #607466;
    overflow: hidden;
    height: 80px;
    padding: 0 50px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar li {
    margin: 0 10px;
}
.navbar > ul > li:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.emblem_text{
    font-size: 1rem;
    color: var(--text-color-secondary);
}
.navbar li:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar > ul > li > a:hover{
    padding: 8px 16px;
    border-radius: 1rem;
    background-color: var(--bg-color-primary);
    color: var(--text-color-secondary);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.navbar li:nth-child(1) p{
    font-size: 2.2rem;
    color: var(--button-color);
    font-weight: bolder;
}

.navbar a {
    text-decoration: none;
    color: #FFEEEE;
    font-weight: bold;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .navbar li {
        margin: 0 5px;
    }
}
@media (max-width: 500px) {
    .navbar {
        padding: 0 5px;
    }
    .navbar > a{
        font-size: 8px;
    }
    .navbar li:nth-child(1) p{
        font-size: 1.5rem;
    }
    .emblem_text{
        display: none;
    }
}
