.courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1160px;
}
.courses > h1{
    margin: 0px auto;
    color: var(--text-color-secondary);
    font-size: 48px;
    max-width: 1160px;
}
.courses > img{
    width: 100%;
}
.course{
    color: var(--text-color-secondary);
    max-height: fit-content;
    padding: 20px;
    max-width: 530px;
    margin: 10px auto;
    background: rgba(160, 172, 163, 0.2);
    box-shadow: 6px 4px 4px -2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.course > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}
.button{
    padding: 16px 32px;
    background-color: var(--button-color);
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
}
@media (max-width: 1200px){
    .courses h1{
        margin: 0px 30px;
    }
}
@media (max-width: 820px) {
    .courses h1{
        margin: 0px 20px;
        font-size: 24px;
    }

    .course{
        max-width: 400px;
        text-align: left;
    }
}
@media (max-width: 540px){
    .courses{
        text-align: center;
    }
    .course{
        max-width: 300px;
    }
    .courses h1{
        margin: 10px;
    }
}